* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    font-style: oblique;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card--main {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    height: 300px;
    padding: 50px 0px 20px 50px;
}

.card--img1 {
    width: 160px;
    height: 250px;
    border-radius: 10px;
}

.card--info {
    margin-left: 30px;
}

.card--location {
    position: relative;
    top: 18px;
    width: 13px;
    height: 20px;
    margin-right: 10px;
}

.gray {
    position: relative;
    top: 18px;
    font-weight: lighter;
    text-decoration: underline;
    color: grey;
    margin-left: 20px;
}

.card--country {
    font-weight: lighter;
}

.card--info--firstline {
    display: flex;
}

.card--desc {
    position: relative;
    left: 190px;
    top: -220px;
}